body {
    background-color: rgb(189, 229, 235);
    color: rgb(16, 60, 192);
    
  }
  th, td {
    background-color: rgb(189, 229, 235);
    color: rgb(16, 60, 192);
  }

li {
    background-color: rgb(189, 229, 235);
    color: rgb(192, 16, 192);
}

form
{
    padding-left: 30px
}


/* unvisited link */
a:link {
    color: rgb(16, 60, 192);
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(29, 6, 82);
  }
