body {
    background-color: rgb(189, 229, 235);
    color: rgb(16, 60, 192);
    
  }
  th, td {
    background-color: rgb(189, 229, 235);
    color: rgb(16, 60, 192);
  }

li {
    background-color: rgb(189, 229, 235);
    color: rgb(192, 16, 192);
}

form
{
    padding-left: 30px
}


/* unvisited link */
a:link {
    color: rgb(16, 60, 192);
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(29, 6, 82);
  }

  body {
    background-color: rgb(189, 229, 235);
  }
  img {
    /* class:"center"; */
     width:"500";
    height:"200";
  }
  p {
    color: blue
  }


  th[role=columnheader]:not(.no-sort) {
    cursor: pointer;
  }
  
  th[role=columnheader]:not(.no-sort):after {
    content: '';
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
    opacity: 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  th[aria-sort=ascending]:not(.no-sort):after {
    border-bottom: none;
    border-width: 4px 4px 0;
  }
  
  th[aria-sort]:not(.no-sort):after {
    visibility: visible;
    opacity: 0.4;
  }
  
  th[role=columnheader]:not(.no-sort):hover:after {
    visibility: visible;
    opacity: 1;
  
}

/* <https://github.com/tristen/tablesort/blob/gh-pages/tablesort.css -->-- */

